# Business Understanding

**Problema**: ¿Cómo podemos identificar a los clientes con mayor riesgo de abandono para intervenir de forma proactiva y reducir la tasa de cancelación?
**Hipotesis**: 
- Los clientes con contratos mensuales tienen mayor probabilidad de abandonar que aquellos con contratos a largo plazo.

- El uso de métodos de pago electrónicos automáticos se asocia a una menor tasa de cancelación.

- Clientes con múltiples servicios (internet + teléfono) tienen menor tasa de abandono debido a una mayor dependencia del proveedor.

- Los clientes mayores de 60 años tienen una menor propensión a cancelar su suscripción.

- Una factura mensual más elevada puede estar asociada a una mayor probabilidad de cancelación, especialmente si no hay valor percibido adicional.

**KPI**:
- F1-Score: balance entre precisión y recall.

- AUC-ROC: capacidad del modelo para discriminar entre clases.

Negocio:
- Reducción de la tasa de cancelación: diferencia porcentual antes y después de aplicar las acciones basadas en el modelo.

- Retorno de la inversión (ROI) de promociones: relación entre el costo de los códigos promocionales entregados y los ingresos conservados.

- Tasa de retención de clientes en riesgo: porcentaje de clientes en riesgo que permanecen tras recibir una oferta personalizada.

# Data Understanding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
contract = pd.read_csv('../data/contract.csv')
internet = pd.read_csv('../data/internet.csv')
personal = pd.read_csv('../data/personal.csv')
phone = pd.read_csv('../data/phone.csv')

In [3]:
def exploracion_inicial(df):
    # Head
    print('-'*30 + 'Primeras 10 filas' + '-'*30)
    print(df.head(10))
    # Estructura de la tabla
    print('-'*30 + 'Estructura de la tabla' + '-'*30)
    print(df.info())
    # Duplicados
    print('-'*30 + 'Duplicados' + '-'*30)
    print(df.duplicated().sum())
    # Valores nulos
    print('-'*30 + 'Valores nulos' + '-'*30)
    print(df.isnull().sum())
    # Estadísticas
    print('-'*30 + 'Estadísticas' + '-'*30)
    print(df.describe())

In [4]:
exploracion_inicial(contract)

------------------------------Primeras 10 filas------------------------------
   customerID   BeginDate              EndDate            Type  \
0  7590-VHVEG  2020-01-01                   No  Month-to-month
1  5575-GNVDE  2017-04-01                   No        One year
2  3668-QPYBK  2019-10-01  2019-12-01 00:00:00  Month-to-month
3  7795-CFOCW  2016-05-01                   No        One year
4  9237-HQITU  2019-09-01  2019-11-01 00:00:00  Month-to-month
5  9305-CDSKC  2019-03-01  2019-11-01 00:00:00  Month-to-month
6  1452-KIOVK  2018-04-01                   No  Month-to-month
7  6713-OKOMC  2019-04-01                   No  Month-to-month
8  7892-POOKP  2017-07-01  2019-11-01 00:00:00  Month-to-month
9  6388-TABGU  2014-12-01                   No        One year

  PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges
0              Yes           Electronic check           29.85        29.85
1               No               Mailed check           56.95       1889.5
2              Yes               Mailed check           53.85       108.15
3               No  Bank transfer (automatic)           42.30      1840.75
4              Yes           Electronic check           70.70       151.65
5              Yes           Electronic check           99.65        820.5
6              Yes    Credit card (automatic)           89.10       1949.4
7               No               Mailed check           29.75        301.9
8              Yes           Electronic check          104.80      3046.05
9               No  Bank transfer (automatic)           56.15      3487.95
------------------------------Estructura de la tabla------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB
None
------------------------------Duplicados------------------------------
0
------------------------------Valores nulos------------------------------
customerID          0
BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64
------------------------------Estadísticas------------------------------
       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

In [5]:
exploracion_inicial(internet)

------------------------------Primeras 10 filas------------------------------
   customerID InternetService OnlineSecurity OnlineBackup DeviceProtection  \
0  7590-VHVEG             DSL             No          Yes               No
1  5575-GNVDE             DSL            Yes           No              Yes
2  3668-QPYBK             DSL            Yes          Yes               No
3  7795-CFOCW             DSL            Yes           No              Yes
4  9237-HQITU     Fiber optic             No           No               No
5  9305-CDSKC     Fiber optic             No           No              Yes
6  1452-KIOVK     Fiber optic             No          Yes               No
7  6713-OKOMC             DSL            Yes           No               No
8  7892-POOKP     Fiber optic             No           No              Yes
9  6388-TABGU             DSL            Yes          Yes               No

  TechSupport StreamingTV StreamingMovies
0          No          No              No
1          No          No              No
2          No          No              No
3         Yes          No              No
4          No          No              No
5          No         Yes             Yes
6          No         Yes              No
7          No          No              No
8         Yes         Yes             Yes
9          No          No              No
------------------------------Estructura de la tabla------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB
None
------------------------------Duplicados------------------------------
0
------------------------------Valores nulos------------------------------
customerID          0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64
------------------------------Estadísticas------------------------------
        customerID InternetService OnlineSecurity OnlineBackup  \
count         5517            5517           5517         5517
unique        5517               2              2            2
top     7590-VHVEG     Fiber optic             No           No
freq             1            3096           3498         3088

       DeviceProtection TechSupport StreamingTV StreamingMovies
count              5517        5517        5517            5517
unique                2           2           2               2
top                  No          No          No              No
freq               3095        3473        2810            2785

In [6]:
exploracion_inicial(personal)

------------------------------Primeras 10 filas------------------------------
   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No
5  9305-CDSKC  Female              0      No         No
6  1452-KIOVK    Male              0      No        Yes
7  6713-OKOMC  Female              0      No         No
8  7892-POOKP  Female              0     Yes         No
9  6388-TABGU    Male              0      No        Yes
------------------------------Estructura de la tabla------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB
None
------------------------------Duplicados------------------------------
0
------------------------------Valores nulos------------------------------
customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64
------------------------------Estadísticas------------------------------
       SeniorCitizen
count    7043.000000
mean        0.162147
std         0.368612
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [7]:
exploracion_inicial(phone)

------------------------------Primeras 10 filas------------------------------
   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes
5  7892-POOKP           Yes
6  6388-TABGU            No
7  9763-GRSKD            No
8  7469-LKBCI            No
9  8091-TTVAX           Yes
------------------------------Estructura de la tabla------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB
None
------------------------------Duplicados------------------------------
0
------------------------------Valores nulos------------------------------
customerID       0
MultipleLines    0
dtype: int64
------------------------------Estadísticas------------------------------
        customerID MultipleLines
count         6361          6361
unique        6361             2
top     5575-GNVDE            No
freq             1          3390

# Data Preparation

In [8]:
# Unificación de fuentes
data = pd.merge(contract, internet, on='customerID', how='left')
data.columns

Index(['customerID', 'BeginDate', 'EndDate', 'Type', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [9]:
data = pd.merge(data, personal, on='customerID', how='left')
data.columns

Index(['customerID', 'BeginDate', 'EndDate', 'Type', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents'],
      dtype='object')

In [10]:
data = pd.merge(data, phone, on='customerID', how='left')
data.columns

Index(['customerID', 'BeginDate', 'EndDate', 'Type', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'MultipleLines'],
      dtype='object')

In [11]:
exploracion_inicial(data)

------------------------------Primeras 10 filas------------------------------
   customerID   BeginDate              EndDate            Type  \
0  7590-VHVEG  2020-01-01                   No  Month-to-month
1  5575-GNVDE  2017-04-01                   No        One year
2  3668-QPYBK  2019-10-01  2019-12-01 00:00:00  Month-to-month
3  7795-CFOCW  2016-05-01                   No        One year
4  9237-HQITU  2019-09-01  2019-11-01 00:00:00  Month-to-month
5  9305-CDSKC  2019-03-01  2019-11-01 00:00:00  Month-to-month
6  1452-KIOVK  2018-04-01                   No  Month-to-month
7  6713-OKOMC  2019-04-01                   No  Month-to-month
8  7892-POOKP  2017-07-01  2019-11-01 00:00:00  Month-to-month
9  6388-TABGU  2014-12-01                   No        One year

  PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0              Yes           Electronic check           29.85        29.85
1               No               Mailed check           56.95       1889.5
2              Yes               Mailed check           53.85       108.15
3               No  Bank transfer (automatic)           42.30      1840.75
4              Yes           Electronic check           70.70       151.65
5              Yes           Electronic check           99.65        820.5
6              Yes    Credit card (automatic)           89.10       1949.4
7               No               Mailed check           29.75        301.9
8              Yes           Electronic check          104.80      3046.05
9               No  Bank transfer (automatic)           56.15      3487.95

  InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport  \
0             DSL             No          Yes               No          No
1             DSL            Yes           No              Yes          No
2             DSL            Yes          Yes               No          No
3             DSL            Yes           No              Yes         Yes
4     Fiber optic             No           No               No          No
5     Fiber optic             No           No              Yes          No
6     Fiber optic             No          Yes               No          No
7             DSL            Yes           No               No          No
8     Fiber optic             No           No              Yes         Yes
9             DSL            Yes          Yes               No          No

  StreamingTV StreamingMovies  gender  SeniorCitizen Partner Dependents  \
0          No              No  Female              0     Yes         No
1          No              No    Male              0      No         No
2          No              No    Male              0      No         No
3          No              No    Male              0      No         No
4          No              No  Female              0      No         No
5         Yes             Yes  Female              0      No         No
6         Yes              No    Male              0      No        Yes
7          No              No  Female              0      No         No
8         Yes             Yes  Female              0     Yes         No
9          No              No    Male              0      No        Yes

  MultipleLines
0           NaN
1            No
2            No
3           NaN
4            No
5           Yes
6           Yes
7           NaN
8           Yes
9            No
------------------------------Estructura de la tabla------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   InternetService   5517 non-null   object
 9   OnlineSecurity    5517 non-null   object
 10  OnlineBackup      5517 non-null   object
 11  DeviceProtection  5517 non-null   object
 12  TechSupport       5517 non-null   object
 13  StreamingTV       5517 non-null   object
 14  StreamingMovies   5517 non-null   object
 15  gender            7043 non-null   object
 16  SeniorCitizen     7043 non-null   int64
 17  Partner           7043 non-null   object
 18  Dependents        7043 non-null   object
 19  MultipleLines     6361 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.1+ MB
None
------------------------------Duplicados------------------------------
0
------------------------------Valores nulos------------------------------
customerID             0
BeginDate              0
EndDate                0
Type                   0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
InternetService     1526
OnlineSecurity      1526
OnlineBackup        1526
DeviceProtection    1526
TechSupport         1526
StreamingTV         1526
StreamingMovies     1526
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
MultipleLines        682
dtype: int64
------------------------------Estadísticas------------------------------
       MonthlyCharges  SeniorCitizen
count     7043.000000    7043.000000
mean        64.761692       0.162147
std         30.090047       0.368612
min         18.250000       0.000000
25%         35.500000       0.000000
50%         70.350000       0.000000
75%         89.850000       0.000000
max        118.750000       1.000000

In [12]:
cols_servicios = ['InternetService', 'OnlineSecurity', 'OnlineBackup', 
                  'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

for col in cols_servicios:
    data[col] = data[col].fillna('No')

In [13]:
data['MultipleLines'] = data['MultipleLines'].fillna('No phone service')

In [14]:
# Ver nulos
print(data.isnull().sum())

customerID          0
BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
MultipleLines       0
dtype: int64

In [15]:
# estructura de la tabla
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  gender            7043 non-null   object
 16  SeniorCitizen     7043 non-null   int64
 17  Partner           7043 non-null   object
 18  Dependents        7043 non-null   object
 19  MultipleLines     7043 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.1+ MB
None

In [16]:
# Pasar a fecha BeginDate y EndDate
data['BeginDate'] = pd.to_datetime(data['BeginDate'], format='%Y-%m-%d')

In [17]:
# Para EndDate si no es no pasar a fecha
data['EndDate'] = pd.to_datetime(data['EndDate'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [18]:
data_ml = data.copy()

In [19]:
data_ml['Type'].value_counts()

Type
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [20]:
from sklearn.preprocessing import OrdinalEncoder

type_order = [['Month-to-month', 'One year', 'Two year']]
encoder = OrdinalEncoder(categories=type_order)

data_ml['Type_encoded'] = encoder.fit_transform(data_ml[['Type']])
data_ml.drop('Type', axis=1, inplace=True)

In [21]:
data_ml['PaperlessBilling'] = data_ml['PaperlessBilling'].map({'Yes': 1, 'No': 0})

In [22]:
data_ml['PaymentMethod'].value_counts()

PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [23]:
payment_dummy = pd.get_dummies(data_ml['PaymentMethod'], prefix='PaymentMethod')
data_ml = pd.concat([data_ml, payment_dummy], axis=1)
data_ml.drop('PaymentMethod', axis=1, inplace=True)

In [24]:
data_ml['TotalCharges'] = pd.to_numeric(data_ml['TotalCharges'], errors='coerce')
data_ml['TotalCharges'] = data_ml['TotalCharges'].fillna(0)

In [25]:
# Dummies de InternetService
data_ml = pd.get_dummies(data_ml, columns=['InternetService'], drop_first=False)

In [26]:
data_ml.drop('InternetService_No', axis=1, inplace=True)

In [27]:
# Transforma a boolean OnlineSecurity
data_ml['OnlineSecurity'] = data_ml['OnlineSecurity'].map({'Yes': 1, 'No': 0})

In [28]:
data_ml['OnlineBackup'] = data_ml['OnlineBackup'].map({'Yes': 1, 'No': 0})

In [29]:
data_ml['DeviceProtection'] = data_ml['DeviceProtection'].map({'Yes': 1, 'No': 0})

In [30]:
data_ml['TechSupport'] = data_ml['TechSupport'].map({'Yes': 1, 'No': 0})

In [31]:
data_ml['StreamingTV'] = data_ml['StreamingTV'].map({'Yes': 1, 'No': 0})

In [32]:
data_ml['StreamingMovies'] = data_ml['StreamingMovies'].map({'Yes': 1, 'No': 0})

In [33]:
data_ml['gender'].value_counts()

gender
Male      3555
Female    3488
Name: count, dtype: int64

In [34]:
# Si gender Male 0 si gender Female 1
data_ml['gender'] = data_ml['gender'].map({'Male': 0, 'Female': 1})

In [35]:
data_ml['Partner'] = data_ml['Partner'].map({'Yes': 1, 'No': 0})

In [36]:
data_ml['Dependents'] = data_ml['Dependents'].map({'Yes': 1, 'No': 0})

In [37]:
data_ml = pd.get_dummies(data_ml, columns=['MultipleLines'], drop_first=False)

In [38]:
data_ml.drop('MultipleLines_No phone service', axis=1, inplace=True)

In [39]:
data_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               7043 non-null   object
 1   BeginDate                                7043 non-null   datetime64[ns]
 2   EndDate                                  1869 non-null   datetime64[ns]
 3   PaperlessBilling                         7043 non-null   int64
 4   MonthlyCharges                           7043 non-null   float64
 5   TotalCharges                             7043 non-null   float64
 6   OnlineSecurity                           7043 non-null   int64
 7   OnlineBackup                             7043 non-null   int64
 8   DeviceProtection                         7043 non-null   int64
 9   TechSupport                              7043 non-null   int64
 10  StreamingTV                              7043 non-null   int64
 11  StreamingMovies                          7043 non-null   int64
 12  gender                                   7043 non-null   int64
 13  SeniorCitizen                            7043 non-null   int64
 14  Partner                                  7043 non-null   int64
 15  Dependents                               7043 non-null   int64
 16  Type_encoded                             7043 non-null   float64
 17  PaymentMethod_Bank transfer (automatic)  7043 non-null   bool
 18  PaymentMethod_Credit card (automatic)    7043 non-null   bool
 19  PaymentMethod_Electronic check           7043 non-null   bool
 20  PaymentMethod_Mailed check               7043 non-null   bool
 21  InternetService_DSL                      7043 non-null   bool
 22  InternetService_Fiber optic              7043 non-null   bool
 23  MultipleLines_No                         7043 non-null   bool
 24  MultipleLines_Yes                        7043 non-null   bool
dtypes: bool(8), datetime64[ns](2), float64(3), int64(11), object(1)
memory usage: 990.5+ KB

In [44]:
data_ml['is_churn'] = data_ml['EndDate'].apply(lambda x: 1 if pd.notnull(x) else 0)

In [45]:
# Duration 
data_ml['Duration'] = (data_ml['EndDate'] - data_ml['BeginDate']).dt.days / 30

In [46]:
data_ml['Duration'].value_counts()

Duration
1.033333     198
1.000000     182
2.033333     123
5.100000      64
3.066667      63
            ...
51.733333      2
44.666667      1
40.600000      1
63.900000      1
72.033333      1
Name: count, Length: 131, dtype: int64

# Modeling

# Evaluation

# Deployment

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [43]:
#